@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Nunito:ital,wght@0,300;1,300&family=Poppins:wght@200;300&display=swap");
* {
  padding: 0;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Nunito", sans-serif;
}

:root {
  --code-color: darkred;
  --code-bg-color: #f6f6f6;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

.left-right-wrapper {
  display: flex;
  height: 100vh;
  /* border:2px solid black; */
  overflow: hidden;
}

.left {
  flex: 3;
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 1px 1px 15px black;
  border-right: solid;
  background-color: cornsilk;
}

.left .mainCompWrapper {
  width: 100%;
  /* background-color: yellow; */
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.left .mainCompWrapper .nameChatCombineWrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.left .mainCompWrapper .nameChatCombineWrapper .name {
  padding-top: 0.2em;
  padding-left: 0.7em;
}

.left .mainCompWrapper .nameChatCombineWrapper .chat {
  padding-top: 0.2em;
  padding-left: 0.7em;
  text-overflow: hidden;
  color: grey;
}

.left .mainCompWrapper .time {
  padding-top: 0.2em;
  color: blue;
  text-align: center;
}

.filter-icon {
  border-radius: 50%;
  color: white;
  background-color: green;
}

.right {
  flex: 7;
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right .topDetailsWrapper {
  display: flex;
  justify-content: space-between;
  background-color: green;
  height: 64px;
  padding: 0px 8px;
}

.right .topDetailsWrapper .userNameOnlineWrapper {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0.8em;
  justify-content: center;
}

.right .topDetailsWrapper .userNameOnlineWrapper .userName {
  font-size: x-large;
  color: black;
}

.right .topDetailsWrapper .userNameOnlineWrapper .onOff {
  color: white;
}

.right .topDetailsWrapper .dpWrapper {
  display: flex;
  margin-right: 2%;
}

.right .chatWrapper {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  background-color: cornsilk;
}

.right .chatWrapper .chatLeftRightwrapper {
  margin: 10px auto;
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  gap: 20px;
  flex: 1;
}

.right .chatWrapper .chat {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  max-width: 80%;
  overflow-wrap: break-word;
  border-radius: 15px;
  align-self: flex-start;
  background-color: grey;
  color: white;
}

.right .chatWrapper .chat .tickTimeWrapper {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;
}

.right .chatWrapper .chat .tickTimeWrapper .rightDoubleTick {
  padding-left: 2px;
}

.right .chatInputWrapper {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
}

.right .chatInputWrapper .button {
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.chat .left {
  align-self: flex-start;
}

.right .chatWrapper .chatRight {
  align-self: flex-end;
  background-color: rgb(15 83 15);
}

.relativeChatWrapper {
  position: absolute;
  width: 60px;
  bottom: 20px;
  right: 10px;
  height: 60px;
  background-color: green;
  border-radius: 50%;
}

.childModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  border: solid;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
