.input-box {
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 36px;
  font-size: large;
  border: none;
  background-color: grey;
  border: 2px solid grey;
  color: white;
}

.input-box.icon{
  background: url(https://static.thenounproject.com/png/101791-200.png)
    no-repeat left;
  background-size: 20px;
  background-position: 8px;
}

.input-box.icon:hover,
.input-box.icon:focus,
.input-box.icon:active {
  border: none;
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}
