.input-box {
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 36px;
  font-size: large;
  border: none;
  border: 2px solid grey;
  background-color: grey;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-box:hover,
.input-box:focus,
.input-box:active {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}
